# - GITHUB
REGISTRY=ghcr.io
IMAGE_REPO=projet_7
NODE_VERSION=20
JAVA_VERSION=21
DISTRIBUTION=temurin
RETENTION_DAYS=7
SEVERITY=CRITICAL

# - DOCKER
DOCKER_NETWORK=microcrm-net
DOCKER_RESTART=unless-stopped

# - App
APP_NAME=microcrm
APP_HOST=localhost
APP_PORT=8080
APP_FRONT_PORT=8081:80
APP_FRONT_PORT_2=443:443

# - ELK
## ---- Version ELK (toujours aligner les 3 services sur la même version)
ELK_VERSION=8.13.0

## ---- Ports exposés sur la machine hôte
ES_PORT=9200
KIBANA_PORT=5601
LOGSTASH_TCP_PORT=5000
LOGSTASH_BEATS_PORT=5044
LOGSTASH_HOST=localhost
LOGSTASH_PORT=5000
API_MONITORING_PORT=9600

## ---- Mémoire heap JVM (doit être la moitié de mem_limit max)
ES_HEAP=512m
LS_HEAP=256m

## ---- Limites mémoire conteneurs Docker
ES_MEM_LIMIT=1g
LS_MEM_LIMIT=512m
KIBANA_MEM_LIMIT=512m

## ---- Kibana (non utilisé en mode xpack.security.enabled=false, mais prêt si activé)
KIBANA_PASSWORD=kibana_local_pwd